<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slurm-glance: {{ hpc_host_name }}</title>
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body data-host="{{ hpc_host_name }}">
    <a href="/" class="back-link">&larr; Back to Host Selection</a>
    <h1>slurm-glance: {{ hpc_host_name }}</h1>
    
    <div id="status-container" class="status-loading">
        Fetching data...
    </div>
    
    <button id="refresh-btn" class="refresh-button">Refresh Data</button>

    <h2>Queue Summary</h2>
    <div id="queue-summary-container"></div>

    <h2>Node Summary</h2>
    <div id="sinfo-container"></div>
    
    <div id="job-queue-header" class="job-queue-header">
        <h2>Job Queue</h2>
        <input type="text" id="filter-input" placeholder="Filter jobs by user, name, partition...">
    </div>
    <div id="squeue-container"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}" type="module" defer></script>
</body>
</html>